html {
    height: 100%;
    width: 100%;
  }
section.top-page {
    background-image: url('https://cdn.pixabay.com/photo/2017/09/04/11/44/highway-2713628_1280.jpg');
    background-size: cover;
    height: 80vh;
    padding-top: 25px;
}

.big-title {
    color: white;
    font-size: 80px;
    margin: 15px;
}

.mail {
    color: white;
    font-size: 20px;
    margin: 25px;
    padding-top: 40px;
}

.ig {
    color: white;
    font-size: 20px;
    margin: 25px;
}

.ig_link {
    color: yellow;
    font-size: 20;


}

li.home {
    font-style: bold;
}

nav.nav li {
    color: white;
}


  body {
    margin: 0 auto;
  }

/* tête de page */

header.header {
    display: flex;
    align-items: center;
    background-color: darkorange;
}



header.header img {
    width: 150px;

}

/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    list-style: none;
    width: 1270px;
    margin-left: 30px;
}

body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
    font-style: bold;
    float: center;
}

.menu {
    height: 35px;
    list-style: none;
    padding: 10px;
    margin: 0px;
}

.menu li {
    float: left;
    width: 5Opx;
}



.menu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    background: #293245;
    padding: 6px 10px;
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {background-color: orangered;}
.menu li a:active {background-color: darkorange;}

.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu .sousmenu li a:link, .menu li a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    background-color: darkorange;
}

.menu .sousmenu li a:hover {
    background-color: orangered;
}

.menu li:hover .sousmenu {
    display: block;
}
